<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio-sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <form  [formGroup]="formularioLogin" (ngSubmit)="intentarLogear()">
      <ion-item>
        <ion-label position="floating">Ingresa tu usuario</ion-label>
        <ion-input type="text" formControlName="usuario" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingresa tu contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">Entrar</ion-button>
      
    </form>
    {{ auth.$usuarioActivo | async | json }}
  </section>
</ion-content>
